<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The user <%= @user.name %>!</h1>
    <p>Made a request</p>
  </body>
</html>